<main>
  <section class="profile col-md-6 text-center col-lg" id="profile-page">
    <div class="profile-container">

      <img class="profile-img" {{#if user.gender}}src="../static/images/male.png"{{else}}src="../static/images/female.png"{{/if}} />
      <p>Email: <span>{{user.email}}</span></p>
    </div>
    <div class="profile-info">
      <p>Trips History: <span>{{user.trips.length}}</span> counts</p>

      <div class="trips-info">
        {{#if user.trips}}
          {{#each user.trips}}
            <p>from
              <span>{{startPoint}}</span>
              to
              <span>{{endPoint}}</span>
              on
              <span>{{date}}</span>
              at
              <span>{{time}}</span></p>
          {{/each}}
        {{else}}
          <p>there are no offer trips yet...</p>
        {{/if}}
      </div>

    </div>
  </section>
</main>