<main>
  <section id="create-section">
    <h1 class="item">Edit Auction</h1>

    <div class="item padded align-center">
      <form class="layout left large" method="POST" action="">
        <div class="col aligned">
          <label>
            <span>Title</span>
            <input type="text" name="title" value="{{listing.title}}" /></label>
          <label>
            <span>Category</span>
            <select name="category">
              {{#each listingOptions}}
                <option value="{{value}}" {{#if selected}} selected {{/if}}>{{title}}</option>
              {{/each}}
            </select>
          </label>
          <label>
            <span>Image URL</span>
            <input type="text" name="image" value="{{listing.image}}" />
          </label>
          <label>
            <span>Starting price</span>
            <input type="number" name="price" value="{{listing.price}}" {{#if listing.bidder}} disabled {{/if}} />
          </label>
        </div>

        <div class="content pad-med align-center vertical">
          <label>
            <span>Description</span>
            <textarea name="description">{{listing.description}}</textarea>
          </label>

          <div class="align-center">
            <input class="action" type="submit" value="Update Listing" />
          </div>
        </div>
      </form>
    </div>
  </section>
</main>